<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="Academy" connectionString="server = chhpjt.cpoiv02faqz3.ap-northeast-2.rds.amazonaws.com, 3306; uid = admin; pwd = 12341234; database = Academy"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>